.Body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#content{
  height: 80vh;
  width: 50vw;
}
#empty-content{
  height: 80vh;
  width: 50vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
#pdf-container{
  height: 70%;
}
#sign {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
#sign button {
  margin-left: 20px;
}
#texto {
  align-self: center;
}